<%- include('partials/header') %>
<style>
  body{
    background-color: #C2B891;
    padding-top: 200px;
  }
</style>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <!-- <img src="https://cdn.dribbble.com/users/43342/screenshots/1064529/robot.gif" style="height:20px width: 20px" alt=""> -->
    <h1 class="display-3">Random thoughts are here!</h1>

    <% usersWithPasswords.forEach(function(user){ %>
       <p class="secret-text"> <%= user.password %> </p>
    <% }) %>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a> &nbsp
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Wanna Share?</a>
  </div>
</div>


<%- include('partials/footer') %>
